* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: flex-end;
  background: #ffffff;
}

.navbar a {
  color: #333;
}

.logo {
  margin-left: 200px;
  text-align: center;
  margin-right: auto;
  font-size: 14px;
  letter-spacing: 2px;
}

.nav-links {
  margin-right: 200px;
}

.nav-links ul {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links ul li {
  position: relative;
  display: inline-block;
  margin: 0 20px;
}

.nav-links ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: #333;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.welcome-container,
.contact-container,
.about-container,
.curtain-container {
  position: relative;
  color: white;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/welcome-background.jpg);
  background-size: cover;
  background-position: center;
  height: 850px;
}

.contact-container {
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/contact-page-image.webp);
  background-repeat: no-repeat;
}

.about-container {
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/aboutus-container.jpg);
  background-repeat: no-repeat;
}

.curtain-container {
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/curtain-images/header-image.webp);
  background-repeat: no-repeat;
}

.welcome-heading,
.page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-heading h1,
.page-title h1 {
  font-size: 90px;
  letter-spacing: 1px;
}

.opening-message-container {
  margin: 100px 0 0 0;
  text-align: center;
}

.opening-message-container h1 {
  font-size: 40px;
  font-weight: 300;
  color: black;
  /* color: #333; */
  letter-spacing: 1px;
  /* letter-spacing: 2px; */
}

.opening-message-container p {
  margin-top: 20px;
  color: #333;
}

.benefits-column-layout {
  display: flex;
  max-width: 80%;
  margin: 100px auto;
  justify-content: space-between;
}

.col {
  padding: 35px;
  flex-basis: 30%;
  background: #ececec;
  text-align: center;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); less shadow on top */
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); */
  border-radius: 30px;
}

.ruler-svg path {
  transform: rotate(40deg);
  transform-origin: 50% 50%;
}

svg {
  padding: 10px;
  border: 2px solid black;
  border-radius: 50%;
  margin-bottom: 30px;
  width: 65px;
  height: 65px;
}

.col h3 {
  margin-bottom: 15px;
  font-size: 30px;
  letter-spacing: -0.5px;
}

.col p {
  color: #6c6c6c;
  font-size: 20px;
  line-height: 25px;
}

.product-link-background {
  background: #333;
  text-align: center;
  height: 80vh;
}

.product-link-container {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
  /* padding: 50px 0 200px 0; */
  padding: 40px 0 0 0;
}

.product-link {
  position: relative;
  flex-basis: 30%;
}

.product-link-container img {
  height: 500px;
  width: 100%;
  border-radius: 5px;
  transition: 0.4s;
}

.product-link-container img:hover {
  filter: brightness(0.6);
  /* transform: scale(0.98); */
}

.product-info {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 90%;
  background: white;
  margin: auto;
  padding: 20px;
  cursor: pointer;
}

.product-info h1 {
  color: rgb(47, 47, 47);
  margin-bottom: 10px;
}

.product-info p {
  line-height: 30px;
  margin-bottom: 15px;
  color: #777;
}

.product-info h4 {
  position: relative;
  color: rgb(47, 47, 47);
  transition: 0.4s ease;
}

.product-info h4:hover {
  /* filter: opacity(0.7); */
  color: #008e99;
}

.testimonial-header {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.testimonial-header h1 {
  font-size: 40px;
  font-weight: 300;
}

.testimonial-wrapper {
  display: flex;
  max-width: 80%;
  margin: auto;
  padding-bottom: 60px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.testimonial-wrapper .box {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
  flex-basis: 32.5%;
  padding: 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.testimonial-wrapper .box p {
  margin-top: 10px;
  line-height: 23px;
}

.testimonial-wrapper .box i.quote {
  font-size: 30px;
  color: #008e99;
}

.testimonial-wrapper .box .content {
  padding-top: 10px;
  margin-top: auto;
}

.testimonial-wrapper .box .info .name {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 2px;
}

.testimonial-wrapper .box .info .location {
  color: #008e99;
  font-size: 16px;
  font-weight: 500;
}

.testimonial-wrapper .box .info .stars {
  margin-top: 5px;
}

.testimonial-wrapper .box .info .stars i {
  color: #008e99;
}

footer {
  background: #333;
  color: white;
  height: auto;
  width: 100%;
  padding-top: 20px;
  margin-top: auto;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}

.footer-content h3 {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 25px;
  font-size: 14px;
}

.footer-bottom {
  background: #101010;
  text-align: center;
  padding: 15px 0;
  width: 100%;
}

.footer-bottom p {
  font-size: 14px;
  text-transform: capitalize;
  word-spacing: 1px;
}

.contact-box {
  display: flex;
  max-width: 60%;
  margin: auto;
  padding-bottom: 60px;
  justify-content: space-between;
}

.contact-box .left,
.contact-box .right {
  flex-basis: 47%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid #cbcbcb;
  /* height: 60vh; */
  margin-bottom: 50px;
  border-radius: 2px;
}

.contact-box .left {
  height: 60vh;
}

.contact-box .left .contact-info {
  margin-bottom: 50px;
}

.contact-box .left:last-child {
  margin-bottom: 0px;
}

.contact-box .left .contact-info h4 {
  font-weight: 100;
  font-size: 22px;
  color: #008e99;
}

.contact-box .left .contact-info p {
  font-size: 17px;
  margin-top: 15px;
}

.contact-box .left .contact-info .contact-socials {
  display: flex;
  list-style: none;
  margin-top: 20px;
}

.contact-box .left .contact-info .contact-socials li {
  margin-right: 20px;
}

.contact-box .left .contact-info .contact-socials a {
  color: black;
  text-decoration: none;
}
.contact-box .left .contact-info .contact-socials a i {
  font-size: 1.2rem;
  transition: 0.4s ease;
}

.contact-box .left .contact-info .contact-socials a:hover i {
  color: #008e99;
}

.contact-box .right h2 {
  font-weight: 100;
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 30px;
}

.contact-box .right .user-info,
.contact-box .right .user-info1 {
  margin-bottom: 50px;
  display: flex;
}

.contact-box .right .user-info .field,
.contact-box .right .user-info1 .field {
  flex: 1;
  border-radius: 2px;
}

.contact-box .right .user-info1 .field:first-child {
  margin-right: 20px;
}

.contact-box .right .user-info .field,
.contact-box .right .user-info1 .field {
  border: none;
  background: #f0f0f0;
  padding: 20px;
}

.contact-box .right input:focus,
.contact-box .right textarea:focus {
  outline: none;
}

.contact-box .right textarea {
  resize: vertical;
  height: 100px;
  max-height: 600px;
  border-radius: 2px;
}

.user-info button {
  padding: 15px 40px;
  text-transform: uppercase;
  color: white;
  border: none;
  background: #979797;
  cursor: pointer;
  transition: 0.4s ease;
  font-size: 15px;
  font-weight: 600;
  border-radius: 2px;
  margin-bottom: -38px;
}

.user-info button:hover {
  background: #111;
}

.invalid-input {
  border: 2px solid red;
}

.aboutUs-heading {
  margin: 50px auto;
  width: 90%;
  text-align: center;
}

.aboutUs-heading p {
  font-size: 18px;
  color: #6c6c6c;
}

.aboutUs-container {
  width: 90%;
  margin: 0 auto 90px auto;
  padding: 10px 20px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.about-image,
.about-image2 {
  margin-right: 40px;
  overflow: hidden;
}

.about-image2 {
  order: 2;
  margin-right: 0;
  margin-left: 40px;
}

.about-image img,
.about-image2 img {
  max-width: 100%;
  max-height: 500px;
  display: block;
  transition: 0.4s ease;
}

.about-image:hover img,
.about-image2:hover img {
  transform: scale(1.2);
}

.about-content {
  flex: 1;
}

.about-content h2 {
  font-size: 26px;
  margin-bottom: 13px;
  text-transform: capitalize;
  color: #008e99;
}

.about-content p {
  font-size: 18px;
  line-height: 1.6;
  color: #6c6c6c;
}

.curtains-header {
  justify-content: center;
  text-align: center;
  max-width: 80%;
  margin: 20px auto 30px auto;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  position: relative;
}

.curtains--background-header-text {
  font-size: 90px;
  opacity: 0.05;
}

.curtains--foreground-header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.boxes-wrapper {
  padding: 20px;
  background-color: #333;
  margin-top: 100px;
}

.boxes-wrapper2 {
  margin-bottom: 100px;
  padding: 0 20px 20px 20px;
  background-color: #333;
}

.row {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
  background-color: #333;
}

.column {
  position: relative;
  /* display: inline-block; */
  /* background-color: lightblue; */
  flex-basis: 19%;
  text-align: center;
  align-items: center;
  height: 40vh;
  /* border-radius: 5px; */
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  height: 40vh;
  filter: brightness(0.8);
  cursor: pointer;
  transition: 0.3s ease;
}

.column-text,
.column-new-text {
  position: absolute;
  top: 85%;
  left: 0;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}

.column-new-text {
  top: 50%;
  font-size: 10px;
  opacity: 0;
}

.column-new-text h1 {
  opacity: 0.8;
}

.column-new-text h2 {
  margin-top: 15px;
  text-transform: none;
  font-size: 17px;
  font-weight: 100;
}

.column:hover .column-text {
  transform: translateY(180%);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.column:hover .column-new-text {
  opacity: 1;
  transition: opacity 1.5s ease;
}

.column:hover .image-container {
  filter: brightness(0.4);
  transition: 0.4s ease;
}
